.album {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.album .artist {
    text-align: center;
    font-weight: bold;
}

.album .album-name {
    text-align: center;
}

.album .album-cover {
    margin-bottom: 1rem;
}

.album .album-settings {
    text-align: right;
    visibility: hidden;
}

.album .album-settings a {
    text-decoration: none;
    font-size: 120%;
    margin-left: 0.3em;
}

.album:hover .album-settings {
    visibility: visible;
}
